<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>
</head>

<body>
    <pd4ml:page.header>
        <div style="float:left">
            <img src="/logo.png" style="margin:10px">
        </div>
        <table style="width:300px; float: right">
            <tr>
                <td>Date</td>
                <td>25th June 2016</td>
            </tr>
            <tr>
                <td>Invoice</td>
                <td>#12345</td>
            </tr>
            <tr>
                <td>Customer ID</td>
                <td>11111</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img style="height:60px" src='https://barcode.tec-it.com/barcode.ashx?data=0123-4567&code=Code11&multiplebarcodes=false&translate-esc=false&unit=Px&dpi=72&imagetype=Png&rotation=0&color=%23000000&bgcolor=%23ffffff&qunit=Mm&quiet=0&dmsize=Default&modulewidth=1'
                        alt='Barcode Generator TEC-IT' />
                </td>
            </tr>

        </table>
    </pd4ml:page.header>
    
    {{{body}}}

<pd4ml:page.footer>
<div style="float:left"        
</pd4ml:page.footer>

</body>

</html>